/*
COLOR SCHEMES:
Mid blue- 47A6FC
Owangeg- FE500D
yell tan- FEE24D
pinko- FFA1FB
*/
body {
 color: red;
}



.button-wrap {
    text-align: center;
}


.image-content > img {
        border: 12px solid red;
}

    
h4 > a {
    color: red;
}

h4 > a:hover {
    color: blueviolet;
}


.image-content {
    text-align: center;
}



#skills {
    text-align: center;
    font-size: 25px; 
    color: red;
}

#skills span {
    font-size: 15px;
    letter-spacing: 5px;
}


ul {
    list-style-type: none;
}

header h1 {
    color: red;
    border: 3px solid lightblue;
    font-size: 50px;
    text-align: center;
    
}

article h2 {
    color: green;
    text-align: center;
}

article p {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}


nav > ul > button {
    border: none;
    color: red;
    font-size: 25px;
    display: inline-block;
    margin: 4;
    transition: background-color .5s;
    background-color: yellow;
    min-width: 225px;
}

nav > ul {
    color: white;
    min-height: 40px;
    padding: 15px 0 15px 0;
}


nav > ul > button:hover {
    background-color: white;
}    



#aside-right h3 {
    text-align: center;
    padding-bottom: 0;
    font-size: 35px;
    margin: 0;
    color: saddlebrown;
}


#header h1 {
    background-color: black;
}



#nav {
    background-color: grey;
    min-height: 30px;
    height: auto;
}




#main-content-wrapper {
    background-color:burlywood;
    margin:0 auto;
}





p {
    color: yellow;
}


#latest-work {
    list-style-type: none;
    color: aquamarine;
    font-size: 30px;
    text-align: left;
    margin: 0;
    
}

#aside-right {
    text-shadow: 
        0 0 3px black,
        0 0 3px black,
        0 0 3px blue,
        0 0 3px blue,
        0 0 3px blue,
        0 0 3px blue;
}

    
#favorite-sites {
    border-bottom: 10px #F864E9 solid;
    border-top: 7px #F864E9 solid;
    margin-top: 120;
    display: flex;
    justify-content: center;
    width: 100%;
}

#aside-right h3 {
    text-align: left;
}

.col-md-4 > img {
    max-width: 250px;
    max-height: 170px;
}


footer {
    font-size: 50px;
    
}

footer h1 {
    text-align: center;
}

.max-width {
    margin: 0 auto;
    max-width: 300px;
}
